*{
padding:0px;
margin:0px;
}


.working-hours-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 80px;
}

/* header  */

.header{
    padding-top: 8px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(90deg,black,#0c1d2d,#853EB6);

}
.header-options a{
    text-decoration: none;
    color: rgb(249, 246, 246);
    padding: 15px;
}

.header-options a:hover{
    color:black;
    background-color:#89B8F0;
    border-radius:10px;
    border:2px solid black;
    padding:10px;

}



.logo{
    margin-left: 80px;
    display:flex;
}
.logo h1{
    color:white;
    padding-left:15px;
    padding-top:15px;
}
.logo-img{
    height: 70px;
    width: 70px;
    border-radius:50%;
    border: 2px solid black;
}
.phone-number{
    display: flex;
    margin-right: 80px;
    color: white;
}

.phone-number i{
    font-size: 32px;
    padding-right: 10px;
    color: white;
}




.home-section {
    height: 100vh;
    background-image: url("../images/home-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-header-section{
    display:flex;

}

.header-logo-title{
    margin-left: 80px;
    margin-top: 80px;

}
.header-logo-title h1{
    color:#89B8F0;
    font-size:5rem;
}
.header-logo-title h3{
    color:white;
    font-size:2rem;
    margin-top:10px;

}
.home-photo img{
    height:500px;
    border-radius:20px;
    background-size: cover;
    background-position: center;
    margin-top:80px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.9);
    margin-right:50px;

}
.home-flex{
    display:flex;
    width:70%;
    margin-top:50px;
    padding:30px;
    border-radius:15px;
    /* Glassmorphism */
    background: rgba(55, 41, 94, 0.25); /* Transparent layer */
    backdrop-filter: blur(50px);          /* Main blur effect */
    -webkit-backdrop-filter: blur(50px);  /* Safari support */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Subtle border */

}
.YTLP{
    width:50%;
}
.YTLP h1{
    color:#89B8F0;
    font-size:2rem;
}
.YTLP p{
    color:white;
    padding:20px 5px;
}
.YTLP img{
    height:200px;
    border-radius:10px;
    box-shadow: 5px 5px 10px grey;
}


.ytlp-numbers-flex{
    display:flex;
    margin-top:80px;
    padding-right:20px;

}

.ytlp-numbers{
    margin-left:30px;
}

.ytlp-numbers h1{
    color:#89B8F0;

}

.ytlp-numbers h3{
    color:white;
}

.ytlpaa{
    color:white;
}

.ytlpaa h1{
    color:#89B8F0;
}




/* about section stylling */

.about-section{
    height: 100vh;
    background-image: url("../images/about-us-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.about-title{
    text-align:center;
    align-items:center;
}

.about-title h1{
    padding-top:30px;
    color:white;
}


.about-details{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    color:white;
    font-size:16px;
    line-height:1.5;
    margin-top:50px;
    margin-left:80px;
    margin-right:50px;
    text-align:justify;

}


.about-details > div{
    padding: 20px;
    height:200px;
    border-radius:20px;
    box-sizing: border-box;
    flex: 0 0 calc(33.33% - 30px);  /* 3 per row */
    /* Glassmorphism */
    background: rgba(55, 41, 94, 0.25); /* Transparent layer */
    backdrop-filter: blur(50px);          /* Main blur effect */
    -webkit-backdrop-filter: blur(50px);  /* Safari support */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Subtle border */
}



/*home our services section */


.home-our-services{
    height: 100vh;
    background-image: url("../images/home-services-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.home-our-services-title{
    display:flex;
    gap:50%;
    margin-left:80px;
    padding-top:80px;
    color:white;
    align-items:center;
    text-align:center;
}


.home-our-services-title-icon i{
    height:20px;
    width:20px;
    font-size:1.5rem;
    border:2px solid white;
    border-radius:50%;
    padding:10px;
    margin-right:15px;
    cursor:pointer;

}


.home-our-service-flex{
    display:flex;
    gap:30px;
    justify-content:space-evenly;
    height:450px;
    margin-top:30px;
    margin-left:70px;
    margin-right:50px;

}

.our-services-box{
    color:white;
    /* Glassmorphism */
    background: rgba(55, 41, 94, 0.25); /* Transparent layer */
    backdrop-filter: blur(50px);          /* Main blur effect */
    -webkit-backdrop-filter: blur(50px);  /* Safari support */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Subtle border */
    border-radius:20px;


}

.our-services-box h3{
    text-align:center;
    padding:7px 0px;
}

.our-services-box p{
    text-align:center;
}

.our-services-box img{
    height:300px;
    width: 270px;
    padding:20px;
    border-radius:40px;
    object-fit:cover;

}

.our-services-box h5{
    padding:8px;
    color:black;
}

.our-services-box button{
    margin-left:120px;
    border-radius:10px;
    background-color:#89B8F0;
    border:2px solid black;
    cursor:pointer;
}

.our-services-box button:hover{
    background-color:white;
    border:2px solid black;
    cursor:pointer;
}


.zzz{
    margin:0px 100px;
    border-radius:10px;
    background-color:#89B8F0;
    border:2px solid black;
    text-align:center;
}

.our-services-box a{
    text-decoration:none;
}












.auth-body {
    background: radial-gradient(circle at top, #e0f2fe, #eef2ff, #ffffff);
    min-height: 100vh;
}

.auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    background: #ffffff;
    padding: 28px 30px;
    border-radius: 20px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 20px 40px rgba(15,23,42,0.12);
}

.auth-card h2 {
    margin-bottom: 6px;
}

.auth-subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 18px;
}

.auth-card form p {
    margin-bottom: 10px;
}

.auth-card input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.auth-btn {
    margin-top: 8px;
    width: 100%;
    border-radius: 999px;
    padding: 10px 0;
    background: #2563eb;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}

.auth-btn:hover {
    background: #1d4ed8;
}

.auth-footer {
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
    color: #6b7280;
}

.auth-footer a {
    color: #2563eb;
    font-weight: 500;
}










.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    /* Glassmorphism */
    background: rgba(55, 41, 94, 0.25); /* Transparent layer */
    backdrop-filter: blur(50px);          /* Main blur effect */
    -webkit-backdrop-filter: blur(50px);  /* Safari support */
    border: 2px solid rgba(255, 255, 255, 0.4); /* Subtle border */
    border-radius:20px;
    margin: 8% auto;
    padding: 50px;
    border-radius: 20px;
    width: 500px;
    max-width: 90%;
}

.close {
    float: right;
    font-size: 3rem;
    cursor: pointer;
    color:red;
}

.modal-content form input,
.modal-content form select,
.modal-content form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 10px;
    border:2px solid black;
    border-radius:10px;
}

.modal-content form label{
    color:white;
}

.modal-content form button{
    padding:10px;
    border-radius:10px;
    background:#89B8F0;
    border:2px solid black;
    font-weight:600;
    cursor:pointer;

}

.modal-content form button:hover{
    background-color:green;
}

.modal-content h2{
    color:white;
    padding-bottom:10px;
}

.modal-content p{
    color:white;
    padding-bottom:10px;
}


/*footer section*/

.main-footer{
    background: linear-gradient(#eef2ff,#d3d3d3,#8f8f8f,#9541CA);
    height:300px;
    width:100%;
}


.footer-left{
    width:30%;
}

.logo-footer{
    height:80px;
    width:80px;
    border-radius:50%;
    margin-left:80px;
    margin-top:50px;

}

.footer-details{
    margin-left:80px;
    margin-top:20px;
    text-align:justify;
}


.footer-right{
    margin-top:50px;
    margin-right:200px;
}

.footer-right p{
    padding:5px;

}


.footer-copywright{
    text-align:center;
    margin-top:50px;
}

.footer-copywright img{
    border:2px solid black;
    height:80px;
    padding:10px;
    margin:20px;
}

.footer-flex{
    display:flex;
    justify-content:space-between;
}











/*my bookings .html page stylling */


.mybookings-hero{
    background-image: url("../images/my-bookings-background.jpg");
    height:100vh;
    background-size:cover;
    background-position:center;
}


.mybookings-hero h1{
    text-align:center;
    color:white;
    padding:50px 0px;
    font-size:2.5rem;
}

.my-bookings-table{
    margin:0 auto;
    width:70%;
    color:white;
    border:0.5px solid white;
    border-radius:10px;
}
.mbt-head{
    color:#89B8F0;
}

.mbt-row th{
    border-radius:5px;
    padding:10px;
}

.mbt-body-row td{
    border-radius:5px;
    padding:10px;
}

.lll{
    color:white;
    text-align:center;
    font-size:1.7rem;
    padding-bottom:20px;
}




/* admin bookings.html page stylling */

.admin-bookings-section{
    height:900px;
    background-image: url("../images/home-background.jpg");

}

.admin-bookings-section h1{
    text-align:center;
    padding-top:50px;
    color:white;

}

.admin-bookings-section img{
    margin:50px 450px;
    height:400px;
    border-radius:20px;
    object-fit:cover;
}



/* manage bookingshtml page styling */


.manage-bookings-section{
    height:100vh;
    background-image: url("../images/my-bookings-background.jpg");

}

.manage-bookings-section h1{
    text-align:center;
    color:white;
    padding-top:80px;
}

.mbs-flex{
    display:flex;
    align-items:center;
    margin:80px 300px;
    padding:20px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* Glassmorphism */
    background: rgba(55, 41, 94, 0.25); /* Transparent layer */
    backdrop-filter: blur(20px);          /* Main blur effect */
    -webkit-backdrop-filter: blur(50px);  /* Safari support */
    border: 2px solid rgba(255, 255, 255, 0.9); /* Subtle border */

}
.mbs-flex-left img{
    height:300px;
    object-fit:cover;
    margin:30px;
    border:2px solid black;
    border-radius:10px;
}



.mbs-flex-right{
}


.mbs-flex-right h2{
    color:white;
    padding:10px;
}

.mbs-flex-right h3{
    color:white;
    padding:10px;
}


.mbs-flex-right h4,
.mbs-flex-right p{
    padding:10px;
    color:#d3d3d3;
}

.mbs-flex-right form label,
.mbs-flex-right form input
{
    padding:10px;
    color:#d3d3d3;

}

.mbs-flex-right form button{
    background-color:white;
    cursor:pointer;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
}

.mbs-flex-right form button:hover{
    background-color:green;
}




